body {
  font-family: Arial, sans-serif;
  margin: 0;
  transition: 0.3s;
}

body.light {
  background: #f4f4f4;
  color: #000;
}

body.dark {
  background: #121212;
  color: #fff;
}

header {
  background: #0a66c2;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

#menuBtn {
  font-size: 20px;
  margin-right: 10px;
}

#menu {
  position: fixed;
  top: 50px;
  left: 10px;
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.post-box {
  padding: 15px;
}

textarea {
  width: 100%;
  height: 80px;
}

.post {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}

.comment {
  margin-left: 20px;
  font-size: 14px;
}
